div
{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    float: left;
    margin: 10px;
}

p
{
    height: 50%;
}

.playing
{
    border-color: black;
}
#boom 
{
    border-color: red;
}
#clap
{
    border-color: blue;
}
#hihat
{
    border-color: orange;
}
#kick
{
    border-color: green;
}